.order-right-item {
    min-height: 9.5rem;
    min-width: 5rem;
    text-align: center;
}

.order-avatar {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.order-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}