.chat-wrap {
    position: fixed;
    right: 1rem;
    top: 95vh;
    
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}

.chat-ico {
    cursor: pointer;
    transform: scale(2.3);
}