.image {
    background-image: url("https://snus-upr.ru/assets/images/products/671/rendm-mango.jpg");
    height: 340px;
    width: 340px;
    background-repeat: no-repeat;
    background-size: cover;
}